<#import "/spring.ftl" as spring/>
<#macro application>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NoteNation</title>
        <link rel='stylesheet' href='/webjars/bootstrap/3.3.5/css/bootstrap.min.css'>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">NoteNation</a>
                </div>

                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav">
                        <li><a href="/notes/"><@spring.message "models.note.plural"/></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <#nested>
        </div>
    </body>
</html>
</#macro>
